<form
  class="form-horizontal"
  autocomplete="off"
  [formGroup]="updateForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Deliver' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{
          "orderNumber" | localize
        }}</label>

        <div class="col-sm-10">
          <label>{{ paymentProcess?.orderNumber }}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{
          "customerName" | localize
        }}</label>

        <div class="col-sm-10">
          <label>{{ paymentProcess?.customerName }}</label>     
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{
          "totalAmount" | localize
        }}</label>

        <div class="col-sm-10">
          <label>{{ paymentProcess?.totalAmount }}</label>  
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{
          "advancePayment" | localize
        }}</label>

        <div class="col-sm-10">
          <label>{{ paymentProcess?.advancePayment }}</label>  
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{
          "paidAmount" | localize
        }}</label>

        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            formControlName="paidAmount"
            required
          />
        </div>
      </div>
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!updateForm.valid || saving || updateForm.get('paidAmount').value > paymentProcess.totalAmount"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
