<form
  class="form-horizontal"
  autocomplete="off"
  [formGroup]="updateForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Deliver' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{
          "orderNumber" | localize
        }}</label>

        <div class="col-sm-10">
          <label>{{ paymentProcess?.orderNumber }}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{
          "customerName" | localize
        }}</label>

        <div class="col-sm-10">
          <label>{{ paymentProcess?.customerName }}</label>     
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{
          "totalAmount" | localize
        }}</label>

        <div class="col-sm-10">
          <label>{{ paymentProcess?.totalAmount }}</label>  
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{
          "advancePayment" | localize
        }}</label>

        <div class="col-sm-10">
          <label>{{ paymentProcess?.advancePaid }}</label>  
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{
          "due" | localize
        }}</label>

        <div class="col-sm-10">
          <label>{{ paymentProcess?.due }}</label>  
        </div>
      </div>


      <div class="form-group form-check row">
        <input
          class="form-check-input"
          type="checkbox"
          (change)="showpartialPayment = !showpartialPayment"
        />
        <label class="form-check-label" style="font-weight: 700;">
          {{ "paidAmount" | localize }}        
        </label>
      </div>
      <div *ngIf="showpartialPayment" class="form-group row">
  
        <label class="col-sm-2 col-form-label">Due</label>
        <div class="col-sm-10">
        <input
          type="number"
          oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
          min="0" 
          [max]="paymentProcess.due"         
          formControlName="paidAmount"
        />
        </div>
      </div>
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!updateForm.valid || saving ||   paymentProcess.due <= updateForm.get('paidAmount').value || showpartialPayment"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
