<form
  class="form-horizontal"
  autocomplete="off"
  #createMetalTypeForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateProduct' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="productName">
        {{ "productName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="productName"
          id="productName"
          required
          minlength="2"
          maxlength="32"
          [(ngModel)]="product.productName"
          #productNameModel="ngModel"
          #productNameEl
        />
        <abp-validation-summary
          [control]="productNameModel"
          [controlEl]="productNameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="metalType">
        {{ "metalType" | localize }}
      </label>
      <div class="col-md-9">
        <select
          class="form-control"
          name="metalType"
          id="metalType"
          [(ngModel)]="product.metalTypeId"
          #metalTypeModel="ngModel"
          #metalTypeEl
        >
          <option *ngFor="let type of metalTypes" [value]="type.id">
            {{ type.name }}
          </option>
        </select>

        <abp-validation-summary
          [control]="metalTypeModel"
          [controlEl]="metalTypeEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="estimatedWeight">
        {{ "estimatedWeight" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="number"
          class="form-control"
          name="estimatedWeight"
          id="estimatedWeight"
          required
          minlength="2"
          maxlength="32"
          [(ngModel)]="product.estimatedWeight"
          #estimatedWeightModel="ngModel"
          #estimatedWeightEl
        />
        <abp-validation-summary
          [control]="estimatedWeightModel"
          [controlEl]="estimatedWeightEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="estimatedCost">
        {{ "estimatedCost" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="estimatedCost"
          id="estimatedCost"
          required
          minlength="2"
          maxlength="32"
          [(ngModel)]="product.estimatedCost"
          #estimatedCostModel="ngModel"
          #estimatedCostEl
        />
        <abp-validation-summary
          [control]="estimatedCostModel"
          [controlEl]="estimatedCostEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="unitsInStock">
        {{ "unitsInStock" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="unitsInStock"
          id="unitsInStock"
          required
          minlength="2"
          maxlength="32"
          [(ngModel)]="product.unitsInStock"
          #unitsInStock="ngModel"
          #unitsInStockEl
        />
        <abp-validation-summary
          [control]="unitsInStock"
          [controlEl]="unitsInStockEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="photo">
        {{ "photo" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="file"
          accept="image/png, .jpeg, .jpg, image/gif"
          class="form-control"
          (change)="uploadFile($event)"
        />
      </div>
    </div>

    <div class="form-group row required" *ngIf="product.photo">
      <div class="col-md-9">
        <img [src]="getImageUrl(product.photo)" height="50px" width="50px;" />
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createMetalTypeForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
