<form
  class="form-horizontal"
  autocomplete="off"
  #createMetalTypeForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateOrder' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="customer">
        {{ "customer" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="customer"
          id="customer"
          required
          minlength="2"
          maxlength="32"
          [(ngModel)]="order.customerId"
          #customerModel="ngModel"
          #customerEl
        />
        <abp-validation-summary
          [control]="customerModel"
          [controlEl]="customerEl"
        ></abp-validation-summary>
      </div> 

      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="requiredDate">
          {{ "requiredDate" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="datetime-local"
            class="form-control"
            name="requiredDate"
            id="requiredDate"
            required
            minlength="2"
            maxlength="32"
            [(ngModel)]="order.requiredDate"
            #requiredDateModel="ngModel"
            #requiredDateEl
          />
          <abp-validation-summary
            [control]="requiredDateModel"
            [controlEl]="requiredDateEl"
          ></abp-validation-summary>
        </div>
      </div>
<br/>
<div>
    <button type="button" (click)="addOrderDetail($event)" class="btn btn-primary">Add Detail</button>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Metal Type</th>
            <th scope="col">Metal Price(Today)</th>
            <th scope="col">Quantity</th>
            <th scope="col">Weight</th>
            <th scope="col">Wastage</th>
            <th scope="col">Total Weight</th>
            <th scope="col">Making Charge</th>
            <th scope="col">Total Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orderDetail of order.orderDetails; let i = index" >
            <th scope="row">{{i}}</th>
            <td><input [(ngModel)]="orderDetail.product" placeholder="product"/></td>
            <td><input [(ngModel)]="orderDetail.metalType" placeholder="metalType"/></td>
            <td><input [(ngModel)]="orderDetail.metalCostThisDay" placeholder="metalCostThisDay"/></td>
            <td><input [(ngModel)]="orderDetail.quantity" placeholder="quantity"/></td>
            <td><input [(ngModel)]="orderDetail.weight" placeholder="weight"/></td>
            <td><input [(ngModel)]="orderDetail.wastage" placeholder="wastage"/></td>
            <td><input [(ngModel)]="orderDetail.weight" placeholder="weight"/></td>
            <td><input [(ngModel)]="orderDetail.makingCharge" placeholder="makingCharge"/></td>
            <td><input [(ngModel)]="orderDetail.totalPrice" placeholder="totalPrice"/></td>
            <td><button (click)="removeOrderDetail(orderDetail)" class="btn btn-primary">Delete</button><button/td>
          </tr>
        </tbody>
      </table>
</div>

  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createMetalTypeForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
