<form
  class="form-horizontal"
  autocomplete="off"
  [formGroup]="orderForm"
>
<abp-modal-header
    [title]="'CreateOrder' | localize"
    (onCloseClick)="bsModalRef.hide()"
>
</abp-modal-header>
<div class="modal-body">
 
<!--   begin of form  -->

<div class="col-md-9">
 
  <input
    type="text"
    class="form-control"
    formControlName="customerId"
  />  

  <input
  type="datetime-local"
  class="form-control"
  formControlName="requiredDate"
/>

<br/>
<button (click)="createOderDetail()" class="btn btn-primary">Add</button>

<ul>


<li 
formArrayName="orderDetails"
*ngFor="let item of orderForm.controls['orderDetails']; let i = index;"
>  
    <div [formGroupName]="i">
      <div>
        <input placeholder="productId" type="text" formControlName="weight" />
        <input placeholder="quantity" type="text" formControlName="weight" />
        <input placeholder="makingCharge" type="text" formControlName="weight" />
        <input placeholder="wastage" type="text" formControlName="weight" />
        <input placeholder="metalType" type="text" formControlName="weight" />
        <input placeholder="metalCostThisDay" type="text" formControlName="weight" />
        <input placeholder="unitPrice" type="text" formControlName="weight" />
        <input placeholder="totalPrice" type="text" formControlName="weight" />
      </div>
    </div>


  </li>
</ul>







</div> 




<!--   end of body  -->
</div>

<abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!orderForm.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
