<form
  (ngSubmit)="save()"
  class="form-horizontal"
  autocomplete="off"
  [formGroup]="form"
>
  <abp-modal-header
    [title]="'CreateOrder' | localize"
    (onCloseClick)="bsModalRef.hide()"
  >
  </abp-modal-header>
  <div class="modal-body">
    <!--   begin of form  -->

    <div class="form-group row required">
      <label class="col-sm-2 col-form-label">
        {{ "customerName" | localize }}
      </label>

      <div class="col-sm-10">
        <input
          formControlName="customerName"
          [typeahead]="Customers"
          (typeaheadOnSelect)="selectedCustomer($event)"
          typeaheadOptionField="customerName"
          [typeaheadItemTemplate]="customItemTemplate"
          class="form-control"
        />
      </div>

      <ng-template #customItemTemplate let-model="item">
        <span
          ><strong>{{ model.customerName }}</strong> - {{ model.address }}</span
        >
      </ng-template>
    </div>

    <div class="form-group row required">
      <label class="col-sm-2 col-form-label" for="requiredDate">
        {{ "requiredDate" | localize }}
      </label>

      <div class="col-md-10">
        <input
          type="text"
          class="form-control"
          formControlName="requiredDate"
          #datepickerYMD="bsDatepicker"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' }"
        />

        <span
          class="text-danger"
          *ngIf="
            (orderFormControl.requiredDate.touched || save) &&
            orderFormControl.requiredDate.errors?.requiredDate
          "
        >
          requiredDate is required
        </span>
        <span
          class="text-danger"
          *ngIf="
            orderFormControl.requiredDate.touched &&
            orderFormControl.requiredDate.errors?.requiredDate
          "
        >
          Enter a valid requiredDate
        </span>
      </div>
    </div>

    <button (click)="createOderDetail($event)" class="btn btn-primary addButton">
      Add
    </button>

    <div class="inline-table-form form-horizontal table-responsive">
      <table class="table table-bordered table-striped table-highlight" width="50%">
        <thead>
            <th>#</th>
            <th>productName</th>
            <th>quantity</th>
            <th>metalType</th>
            <th>metalCost</th>
            <th>makingCharge</th>
            <th>weight</th>
            <th>wastage</th>
            <th>totalWeight</th>
            <th>SubTotal</th>
            <th>Action</th>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of orderDetailsFormArray.controls; let i = index"
            [formGroup]="item"
          >
            <th scope="row">{{ i }}</th>
            <td>
              <input
                formControlName="productName"
                [typeahead]="Products"
                (typeaheadOnSelect)="selectedProduct($event, i)"
                typeaheadOptionField="productName"
                [typeaheadItemTemplate]="customItemTemplate"
                class="form-control"
              />

              <ng-template #customItemTemplate let-model="item">
                <span
                  ><strong>{{ model.productName }}</strong> -
                  {{ model.metalType.name }} - Rs.{{
                    model.estimatedCost
                  }}</span
                >
              </ng-template>
            </td>
            <td>
              <input
                type="number"
                required
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="quantity"
                class="form-control"

              />
            </td>
            <td>
              <input
              required
                readonly
                type="text"
                formControlName="metalType"
                class="form-control"

              />
            </td>
            <td>
              <input
              required
                readonly
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="metalCostThisDay"
                class="form-control"

              />
            </td>

            <td>
              <input
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="makingCharge"
                (change)="makingChargeChanged(i)"
                class="form-control"

              />
            </td>
            <td>
              <input
              required
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="weight"
                (change)="metalWeightChanged(i)"
                class="form-control"

              />
            </td>

            <td>
              <input
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="wastage"
                (change)="metalWeightChanged(i)"
                class="form-control"

              />
            </td>
            <td>
              <input
              required
              readonly
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="totalWeight"
                class="form-control"

              />
            </td>
            <td>
              <input
              readonly
              required
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="totalPrice"
                class="form-control"

              />
            </td>
            <td>
              <button (click)="DeleteOrderDetail(i)" class="btn btn-danger form-control">
                Del
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group form-check row">
      <input
        class="form-check-input"
        type="checkbox"
        (change)="showAdvancePayment = !showAdvancePayment"
      />
      <label class="form-check-label" style="font-weight: 700;">
        {{ "AdvancePayment" | localize }}        
      </label>
    </div>
    <div *ngIf="showAdvancePayment" class="form-group row">

      <label class="col-sm-2 col-form-label">Advance Amount</label>
      <div class="col-sm-10">
      <input
        type="number"
        oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
        min="0"
        placeholder="advancePaymentAmount"
        formControlName="advancePaymentAmount"
      />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        {{ "TotalPrice" | localize }}
      </label>
  
      <div class="col-sm-10">
        {{ totalPrice }}
      </div>
    </div>


  <!--   end of body  -->

  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!form.valid || saving || orderDetailsFormArray.length ==0"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>