<form
  *ngIf="orderForm"
  (ngSubmit)="save()"
  class="form-horizontal"
  autocomplete="off"
  [formGroup]="orderForm"
>
  <abp-modal-header
    [title]="'CreateOrder' | localize"
    (onCloseClick)="bsModalRef.hide()"
  >
  </abp-modal-header>
  <div class="modal-body">
    <!--   begin of form  -->

    <div class="form-group row required">
      <label class="col-sm-2 col-form-label">
        {{ "customerName" | localize }}
      </label>

      <div class="col-sm-10">
        <input
          formControlName="customerName"
          type="text"
          class="form-control"
        />
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-sm-2 col-form-label" for="requiredDate">
        {{ "requiredDate" | localize }}
      </label>

      <div class="col-md-10">
        <input
          type="text"
          class="form-control"
          formControlName="requiredDate"
          #datepickerYMD="bsDatepicker"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm:ss a' }"
        />

        <div
          class="text-danger"
          *ngIf="
            orderForm.get('requiredDate').touched ||
            (save &&
              orderForm.get('requiredDate').errors &&
              orderForm.get('requiredDate').dirty)
          "
        >
          <span *ngIf="orderForm.get('requiredDate').errors">
            Required Date is required.
          </span>
          <!-- Enter a valid requiredDate -->
        </div>
      </div>
    </div>

    <button
      (click)="AddOrderItem($event); (false)"
      class="btn btn-primary addButton"
    >
      Add
    </button>

    <div class="inline-table-form form-horizontal table-responsive">
      <table
        class="table table-bordered table-striped table-highlight"
        width="50%"
      >
        <thead>
          <th>#</th>
          <th>productName</th>
          <th>quantity</th>
          <th>metalType</th>
          <th>metalCost</th>
          <th>makingCharge</th>
          <th>weight</th>
          <th>wastage</th>
          <th>totalWeight</th>
          <th>SubTotal</th>
          <th>Action</th>
        </thead>
        <tbody>
          <!-- orderDetails -->
          <!-- formArrayName="orderItem" -->

          <tr
            *ngFor="
              let item of orderItem.controls;
              let i = index
            "
            [formGroup]="item"
          >
            <th scope="row">{{ i }}</th>
            <td>
              <input
                formControlName="productName"
                type="text"
                class="form-control"
              />
              <span *ngIf="item.get('productName').errors?.required"
                >required</span
              >
            </td>
            <td>
              <input
                type="number"
                required
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="quantity"
                class="form-control"
                (change)="calculateOrderItem(item, i)"
              />
            </td>
            <td>
              <input
                required
                readonly
                type="text"
                formControlName="metalType"
                class="form-control"
                (change)="calculateOrderItem(item, i)"

              />
            </td>
            <td>
              <input
                required
                readonly
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="todayMetalCost"
                class="form-control"
                (change)="calculateOrderItem(item, i)"
              />
            </td>

            <td>
              <input
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="makingCharge"
                class="form-control"
                (change)="calculateOrderItem(item, i)"
              />
            </td>
            <td>
              <input
                required
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="weight"
                class="form-control"
                (change)="calculateOrderItem(item, i)"

              />
            </td>

            <td>
              <input
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="wastage"
                class="form-control"
                (change)="calculateOrderItem(item, i)"

              />
            </td>
            <td>
              <input
                required
                readonly
                type="number"
                #totalWeight
                formControlName="totalWeight"

              />
            </td>
            <td>
              <input
                readonly
                required
                type="number"
                oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
                min="0"
                formControlName="subTotal"
                class="form-control"
              />
            </td>
            <td>
              <button
                (click)="RemoveOrderItem(i)"
                class="btn btn-danger form-control"
              >
                Del
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <div class="form-group row">
        <label class="col-sm-2 col-form-label">
          {{ "TotalPrice" | localize }}
        </label>
  
        <div class="col-sm-10">

        </div>
      </div> -->

    <!-- 

    <div class="form-group form-check row">
      <input
        class="form-check-input"
        type="checkbox"
        (change)="showAdvancePayment = !showAdvancePayment"
      />
      <label class="form-check-label" style="font-weight: 700;">
        {{ "AdvancePayment" | localize }}
      </label>
    </div>
    <div *ngIf="showAdvancePayment" class="form-group row">
      <label class="col-sm-2 col-form-label">Advance Amount</label>
      <div class="col-sm-10">
        <input
          type="number"
          oninput="value == '' ? value = 0 : value < 0 ? value = value * -1 : false"
          min="0"
          placeholder="advancePaymentAmount"
          formControlName="advancePaid"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        {{ "dueAmount" | localize }}
      </label>

      <div class="col-sm-10">
        {{ dueAmount }}
      </div>
    </div> -->
    <!--   end of body  -->
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!orderForm.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
