<!-- Main content -->
<div class="invoice p-3 mb-3 doNotPrint">
  <div #invoice id="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-12">
        <h4>
          <i class="fas fa-globe"></i> Jewellery Shop.
          <small class="float-right">Date: {{ todayDateString }}</small>
        </h4>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        <address>
          <strong>{{ order?.customerName }}</strong
          ><br />
          {{ order?.customerAddress }}<br />
          Phone: {{ order?.phoneNumber }}<br />
        </address>
      </div>

      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>order Number # {{ order?.orderNumber }}</b
        ><br />
        <b>Order Date:</b> {{ order?.orderDate.format("D MMM YYYY") }}<br />
        <b>Order Status:</b> {{ order?.orderStatus }}<br />
        <b>Payment Status:</b> {{ order?.paymentStatus }}<br />
        <p *ngIf="order?.paymentStatus == 'PartialPaid'">
          <b>Advance Paid:</b> {{ order?.advancePaid }}
        </p>
        <br />
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Total Weight</th>
              <th>Making Charge</th>
              <th>Today Metalcost</th>
              <th>Sub Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of order?.orderDetails; let i = index">
              <td>{{ detail?.productName }} ( {{ detail.metalType }} )</td>
              <td>{{ detail?.quantity }}</td>
              <td>
                {{ detail?.weight }} + {{ detail?.wastage }} =
                {{ detail?.totalWeight }}
              </td>
              <td>{{ detail?.makingCharge }}</td>
              <td>{{ detail?.todayMetalCost }}</td>
              <td>{{ detail?.subTotal }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
      <!-- /.col -->
      <div class="col-6">
        <p class="lead">Due Amount: {{ order?.due }}</p>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width: 50%;">Total Price:</th>
              <td>Nrs. {{ order?.totalPrice }}</td>
              <td>{{ order?.totalPrice | numberToWordsPipe }}</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>

  <!-- this row will not appear when printing -->
  <div class="row no-print">
    <div class="col-12">
      <a
        rel="noopener"
        target="_blank"
        class="btn btn-default"
        (click)="Print()"
        ><i class="fas fa-print"></i> Print</a
      >

      <button
        type="button"
        class="btn btn-primary float-right"
        style="margin-right: 5px;"
        (click)="downloadAsPDF()"
      >
        <i class="fas fa-download"></i> Generate PDF
      </button>
    </div>
  </div>
</div>
<!-- /.invoice -->

<div class="print-section" style="display: none;">
  <!-- <body style="width: 21cm; height: 18cm;"> -->
  <div class="date">
    <h2>{{ todayDateString }}</h2>
  </div>

  <div style="margin-top: -90px;">
    <h2 class="name">{{ order?.customerName }}</h2>
    <h2 class="address">{{ order?.customerAddress }}</h2>
  </div>

  <table class="table" style="font-size: 22px;">
    <thead>
      <tr style="display: none;">
        <td>SN</td>
        <td>Particular</td>
        <td>Quantity</td>
        <td>Was</td>
        <td>Weight</td>
        <td>Total Weight</td>
        <td>Making Chargess</td>
        <td>Stones</td>
        <td>Rs.</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order?.orderDetails; let i = index">
        <td style="width: 25px;">{{ +(+i) }}</td>
        <td style="width: 235px;">{{ item?.productName }}</td>
        <td style="width: 60px;">{{ item?.quantity }}</td>
        <td style="width: 60px;">{{ item?.wastage }}</td>
        <td style="width: 60px;">{{ item?.weight }}</td>
        <td style="width: 70px;">{{ item?.totalWeight }}</td>
        <td style="width: 80px;"></td>
        <td style="width: 70px;">{{ item?.makingCharge }}</td>
        <td style="width: 50px;">{{ item?.subTotal }}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <h2 class="in-words">{{ order?.totalPrice | numberToWordsPipe }}</h2>
    <h2 class="total">{{ order?.totalPrice }}</h2>
  </div>
</div>
