<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>Rs. {{ todayInvoice }}</h3>
              <p>Today Invoiced</p>
            </div>
            <div class="icon">
              <i class="fas fa-star"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/stargazers"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>Rs. {{ todayAdvanceTaken }}</h3>
              <p>Today Advance Took</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/graphs/contributors"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>Rs. 0</h3>
              <p>A month Invoiced</p>
            </div>
            <div class="icon">
              <i class="fas fa-tools"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/dependents"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>Rs. {{ todaySaleAmount }}</h3>
              <p>Today Sale Amount</p>
            </div>
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
            <a
              href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/members"
              class="small-box-footer"
              target="_blank"
            >
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Pending Order</span>
              <span class="info-box-number">
                {{ pendingOrder }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Today Order Delivery</span>
              <span class="info-box-number">
                {{ TodayOrderneedDeliver }}
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1">
              <i class="fas fa-tag"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Today Order Taken</span>
              <span class="info-box-number">
                {{ TodayOrderTook }}
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-eye"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Today Sale</span>
              <span class="info-box-number">
                {{ todaySale }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Near Order Deliver</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>orderNumber</th>
                    <th>orderDate</th>
                    <th>requiredDate</th>
                    <th class="w-25">customerName</th>
                    <th class="w-25">advancePaid</th>
                    <th>totalWeight</th>
                    <th>totalAmount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orders">
                    <td>{{ order?.orderNumber }}</td>
                    <td>{{ order?.orderDate.format("D MMM") }}</td>
                    <td>{{ order?.requiredDate.format("D MMM") }}</td>
                    <td>{{ order?.customerName }}</td>
                    <td>{{ order?.advancePaid }}</td>
                    <td>{{ order?.totalWeight }}</td>
                    <td>{{ order?.totalAmount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Recent Sale</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>saleNumber</th>
                    <th class="w-25">customerName</th>
                    <th class="w-25">saleDate</th>
                    <th>PaidAmount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sale of sales">
                    <td>{{ sale?.saleNumber }}</td>
                    <td>{{ sale?.customerName }}</td>
                    <td>{{ sale?.saleDate.format("D MMM h:mm:ss") }}</td>
                    <td>{{ sale?.paidAmount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
